@media screen and (max-width: 992px) {
  .cover {
    max-width: 720px;
  }
  header {
    height: 70px;
  }
  .navbar {
    padding: 0;
  }
  .navbar-toggler {
    display: none;
  }
  .navbar .menubar {
    display: flex;
  }
  .sub-nav {
    display: none;
  }
  .carousel {
    min-height: 250px;
  }
  .carousel .thumb {
    padding-top: 85px;
  }
  .sub .sub-side {
    margin: 0 36px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 540px;
  }

  .sub .sub-side {
    margin: 0 16px;
  }
  .footer .cover {
    padding-top: 240px;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 576px) {
  .cover {
    max-width: 100%;
  }
  .sub .sub-side form {
    flex-wrap: wrap;
  }
  .footer .sub .sub-side input {
    border-radius: 8px;
  }
  .footer .sub .sub-side .sub-btn {
    width: 100%;
    border-radius: 8px;
  }
  .footer .cover {
    padding-top: 280px;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 475px) {
  .footer .cover {
    padding-top: 320px;
    padding-bottom: 40px;
  }
}
