* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.container {
  max-width: 1520px;
  margin: auto;
  padding: 0;
}
.cover {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
.title {
  position: relative;
}
a {
  text-decoration: none;
}
.d-flex {
  position: relative;
  flex-wrap: wrap;
}
.color-1 {
  background-color: #037ef3;
}
.color-2 {
  background-color: #ffc949;
}
.color-3 {
  background-color: #ff4f81;
}
.color-4 {
  background-color: #1ee697;
}
.color-5 {
  color: #ff7971;
}
.tag-color-1 {
  background-color: #ffa100;
}
.tag-color-2 {
  background-color: #1dc295;
}
.tag-color-3 {
  background-color: #037ef3;
}
/* Header */
header {
  background-color: #ffffff;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}
.fixed-top {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.nav-fixded {
  padding: 0px;
  border-bottom: none;
  z-index: 999 !important;
  background-color: var(--bg-color);
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
  height: 70px;
}

.sub-nav {
  margin: 0;
}
.sub-nav a {
  text-decoration: none;
}
.sub-nav {
  display: flex;
  background-color: #0d369f;
  justify-content: space-between;
  align-items: center;
  padding: 16px 30px;
}
.sub-nav span {
  color: #ffffff;
  padding-right: 30px;
  font-size: 15px;
  font-weight: 500;
}
.sub-nav span:hover {
  color: #f05196;
  transition: all 0.5s;
}
.sub-nav span:hover .hover-none {
  color: #ffffff;
}
.sub-nav .contact i {
  font-size: 16px;
  padding: 0 6px;
}
.sub-nav .icon i {
  color: #ffffff;
  padding-left: 30px;
}
.sub-nav .icon i:hover {
  color: #ff7971;
  transition: all 0.5s;
}
.navbar {
  /* position: fixed;
  width: 100%; */
  padding-left: 18px;
  padding-right: 20px;
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-collapse {
  justify-content: end;
}
.navbar-brand {
  font-size: 30px;
  font-weight: 600;
  color: #0d369f;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.navbar-brand:hover {
  color: #ff7971;
  transition: all 0.3s;
}
.nav-item {
  padding: 0 16px;
}
.nav-link {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.nav-link:hover {
  color: #ff7971;
  transition: all 0.3s;
}
.navbar-nav {
  align-items: center;
}
.form-control {
  padding: 0.7rem 0.75rem;
}
.navbar-nav .night-mode {
  padding-left: 12px;
  font-size: 24px;
  line-height: 38px;
}
.nav-link:focus {
  color: #ff7971;
}
.navbar .d-flex i {
  font-size: 16px;
  position: absolute;
  right: 10%;
  color: #0d369f;
  line-height: 50px;
}
.navbar .d-flex i:hover {
  color: #ff7971;
  transition: all 0.3s;
}
.navbar-nav .change-mode {
  position: absolute;
  color: #0d369f;
  right: 2%;
}
.navbar-nav .change-mode:hover {
  color: #ff7971;
}
.dropdown-menu {
  padding: 0.7rem 0.7rem;
  box-shadow: rgb(12 12 12 / 6%) 0px 1px 20px 0px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}
.dropdown-item {
  font-size: 16px;
  font-weight: 500;
}
.dropdown-item:hover {
  color: #ff7971;
  background-color: transparent;
  transition: all 0.3s;
}

/* Carousel */
.carousel .container {
  padding: 0;
}
.carousel .slide .item {
  background-image: url(../img/banner2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  position: relative;
}
.carousel .slide .item-2 {
  background-image: url(../img/banner3.jpg);
}
.carousel .slide .cover {
  padding-top: 10%;
}
.carousel .slide .cover p {
  color: #ffffff;
  font-size: 80px;
  font-weight: bold;
  width: 48%;
  line-height: 90px;
  padding-bottom: 30px;
}
.carousel .slide .btn {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 24px;
  color: #000000;
  border-color: transparent;
}
.carousel .slide .btn:hover {
  background-color: #ff7971;
  color: #ffffff;

  transition: all 0.5s;
}

.owl-dots {
  position: absolute;
  bottom: 10%;
  right: 1%;
  transform: rotate(90deg);
}
.owl-theme .owl-dots .owl-dot span {
  background-color: #ff7971;
  width: 12px;
  height: 12px;
}
.carousel .info {
  position: relative;
  bottom: 60px;
}
.carousel .info .content {
  padding: 50px 35px;
  position: relative;
  z-index: 1;
  border-radius: 8px;
  color: #ffffff;
}
.carousel .info .content p {
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: #ffffff;
}
.carousel .info .content p:hover {
  color: #000000;
  transition: all 0.5s;
}
.carousel .info .content i {
  font-size: 40px;
}

/* welcome */
.welcome .content .border-i {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #e9edf6;
  line-height: 70px;
  color: #0d369f;
}
.welcome .content span {
  color: #8b8a87;
}
.welcome .content h4 {
  margin: 0;
  color: #000000;
}
.welcome .content h4:hover {
  color: #ff7971;
  transition: all 0.3s;
}

/* Course */
.course {
  background-color: #f8f9ff;
}

.title span::before {
  content: "";
  height: 2px;
  width: 60px;
  position: absolute;
  left: 50%;
  bottom: -8px;
  background: #707070;
  transform: translateX(-50%);
}
.title span::after {
  content: "";
  height: 2px;
  width: 60px;
  position: absolute;
  left: 50%;
  bottom: -16px;
  background: #707070;
  transform: translateX(-15%);
}
.course .card {
  border: none;
}
.course .card:hover {
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
  transition: all 0.3s;
}
.course .card-img img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.course .card .price {
  position: absolute;
  right: 10%;
  bottom: -7%;
  border-radius: 50%;
  background-color: #ff6e65;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}
.course .card .tag {
  position: absolute;
  top: 8%;
  left: 8%;
  display: flex;
  align-items: center;
}
.course .card .tag a {
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 4px;
}
.course .signal span {
  font-size: 16px;
  font-weight: 500;
}
.course .signal span i {
  color: #ff6e65;
}
.course .vote {
  border-top: 1px solid #eeeeee;
}
.course .vote .star-i {
  color: #ffc949;
  font-size: 14px;
}
.course .vote a {
  color: #ff6e65;
  font-size: 14px;
  font-weight: 500;
}
.course .vote a:hover {
  color: #0d369f;
  transition: all 0.5s;
}
.course .card-info .card-heading {
  color: #000000;
  font-weight: 500;
}
.course .card-info .card-heading:hover {
  color: #ff6e65;
  transition: all 0.3s;
}
.course .course-btn {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 28px;
  color: #ffffff;
  border-color: transparent;
  background-color: #ff6e65;
  border-radius: 6px;
}
.course .course-btn:hover {
  background-color: #0d369f;
  transition: all 0.3s;
}
/* Sêrvice */
.service .bg-service {
  background: url(../img/bg3.jpg) no-repeat bottom;
  background-size: cover;
}
.service .no-wrap {
  flex-wrap: nowrap;
}
.fix-cover{
  margin-left: -16px;
  margin-right: -16px;  
}
.service .icon i{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #e9edf6;
  line-height: 70px;
  color: #0d369f;
}
.service .info p{
  font-size: 22px;
  font-weight: 500;
}
.service .info span{
  font-size: 16px;
  color: #8b8a87;
}
/* Footer */
.footer {
  background-color: #060e1f;
}

.footer .cover {
  padding-top: 180px;
  padding-bottom: 100px;
}
.footer .d-flex {
  color: #ffffff;
  flex-wrap: wrap;
}
.footer .d-flex i {
  position: unset;
  color: #ffffff;
  font-size: 10px;
  padding-right: 6px;
  line-height: 0;
}
.footer .d-flex p {
  font-size: 18px;
  font-weight: 700;
}

.footer .d-flex span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #c3c3c3;
  margin-bottom: 16px;
}
.footer .d-flex .col-lg-4 span {
  line-height: 26px;
}
.footer .d-flex .contact-i {
  font-size: 14px;
  padding-right: 12px;
}
.footer .d-flex .br-circle {
  border-radius: 50%;
  background-color: #151c2c;
  width: 35px;
  height: 35px;
  line-height: 36px;
  padding-left: 10px;
}
.footer .d-flex .fix-left {
  padding-left: 13px;
}
.footer .d-flex .col-lg-2 span:hover,
.footer .d-flex .col-lg-3 span:hover {
  color: #fcfcfc;
}
.footer .d-flex p {
  border-bottom: 1px solid rgba(23, 54, 88, 0.4);
  padding-bottom: 10px;
}
.footer .d-flex .col-lg-4 a {
  padding-right: 6px;
}
.footer .d-flex .col-lg-4 a:hover {
  opacity: 0.8;
}
.footer .copyright {
  text-align: center;
}
.footer .copyright p {
  padding: 20px 0;
  background-color: #040a17;
  color: #c3c3c3;
  font-weight: 400;
}
.footer .d-flex .border-left {
  border-left: 1px solid rgb(64 73 82 / 51%);
}
